language: python
cache: pip
install: travis_retry pip install coveralls tox tox-travis
script: tox -v
python:
  - 3.8
  - 3.9
  - 3.10
  - 3.11
  - 3.12
after_script:
- coveralls
jobs:
  fast_finish: true
  include:
    - stage: deploy
      env:
      python: 3.8
      script: skip
      deploy:
        provider: pypi
        user: jazzband
        server: https://jazzband.co/projects/django-smart-selects/upload
        distributions: sdist bdist_wheel
        password:
          secure: WRKX0JQavruAlXjKAMiv4pNYLNLs9YMiAts7lyp2BXWTPiVsTSN9TfkWsiFSKJ5u+aLCyYZDx7FFxO9sFrlRjSmvgoxP7EBA0vxkKRQHABo/aQjM0HdnkIOw6P0fXoxqHBAizytLBKyTQH1Ls876oPcvHt5Ehoxchdt8YEckxOw=
        skip_existing: true
        on:
          tags: true
          repo: jazzband/django-smart-selects
