graft *
prune .hg
prune .hgignore
prune .ropeproject
prune .git
prune .gitignore
prune .github
prune dist
prune */__pycache__
prune */*/__pycache__
include README.md
include smart_selects/static/smart-selects/admin/js/*
